.Footer {
  display: flex;
  /* padding-top: 4.5rem; */
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: center;
  /* gap: 2rem; */
}

footer {
  display: flex;
  flex-direction: row;
  padding: 1rem 7rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #fff;
  gap: 2rem;
}

.logoFooter {
  color: #ccd2ff;
  font-family: Inter;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.2125rem;
}

footer div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  font-weight: 700;
}
